/nbactions.xml
/build/
/*.txt
/build.xml
/manifest.mf
/dist/
/target/
/nbproject/
/.settings/
/.vscode/
/.project
/.classpath
/.idea
/SimpleSwingApp.iml
/nb-configuration.xml
/nbactions-release-profile.xml